# Drizzle
DATABASE_URL=""

NUXT_ORIGIN="http://localhost:3000"

# Better Auth
# For production use 32 characters and generated with high entropy
# https://www.better-auth.com/docs/installation
NUXT_BETTER_AUTH_SECRET=""
